<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>Signin Page</title>
  </head>
  <body>
    <%- include("./partials/nav") %>

    <div class="container mt-4">
      <form action="/api/user/signin" method="post">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="text"
            name="email"
            class="form-control"
            id="email"
            aria-describedby="email"
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="text"
            name="password"
            class="form-control"
            id="password"
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>

    <%- include("./partials/scripts") %>
  </body>
</html>
